@model CanastaWebsite.Core.Classes.RunGallery

<header>
    <div class="table-header">
        <h1>Run Gallery</h1>
        <h3>Every test run is displayed here</h3>
    </div>
</header>

<div class="container">
    <div class="gallery-table">
        <div class="column-names">
            <div>Run Name</div>
            <div>Date</div>
            <div>ID</div>
        </div>       
                @foreach (var item in Model.Summaries)
                    {
                        <div class="row-line">
                            <div class="row-child">@item.Name</div>
                            <div class="row-child">@item.Date</div>
                            <div class="row-child">@item.ID</div>
                            <form action="../Result/Display/@item.ID">
                                <input class="run-button" type="submit" value="View" />
                            </form>
                        </div>
                    }            
    </div>
</div>
